/*Cabeçalho e Rodapé*/
:root {
    --offwhite: #dfd8e6;
    --deeppurple:#241233; 
}

.conteudo {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

.conteudo h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2.5em;
  color: var(--offwhite);
  margin: 0px 250px;
  padding: 50px 0px;
  background-color: rgb(36, 18, 51, 0.75);
}

.conteudo nav{
  margin: 15px 0px 0px;
  padding: 10px;
  background: var(--offwhite);
  display: flex;
  justify-content: space-around;
}

.conteudo ul{
  margin: 15px 0px 0px;
  padding: 10px;
  background: var(--offwhite);
  display: flex;
  justify-content: space-around;
}

.conteudo h4{
  color: var(--offwhite);
  background-color: rgb(36, 18, 51, 0.75);
  margin: 0px 300px;
  padding: 25px 0px;
}   

/*Tabelas*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--offwhite);
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background-color: rgb(36, 18, 51, 0.75);
  padding: 50px;
  margin: 30px;
}

.tabela {
  background-color: var(--offwhite);
  padding:20px;
  margin:20px;
  border-radius: 8px;
}

.tabela th, td {
  padding: 8px;
  text-align: left;
  border-bottom: solid 1px;
}

.acompanhamentos {
  background-color: var(--offwhite);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.acompanhamentos p{
  padding:0px;
  margin:0px;
}